@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lora: var(--font-lora);
  --font-jost: var(--font-jost);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost);;
}

html, body {
  overflow-x: hidden;
}

.font-lora {
  font-family: var(--font-lora);
}

.font-jost {
  font-family: var(--font-jost);
}